body{
    font-family: sans-serif;
}

h1{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
    background-color: rgb(88, 31, 31);
    color: white;    
}

.content{
    display: flex;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    height: 570px;
    display: inline-block;
    border-right: 1px solid white;
    background-color: rgb(141, 51, 51);
    border-top: 2px solid white;    
}

li a {
    display: block;
    color: white;
    border-bottom: 2px solid white;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: rgb(88, 31, 31);
    color: white;
}

li a:hover:not(.active) {
    background-color: rgb(88, 31, 31);
    color: white;
}

li a.active:hover ~ .container{
    background-color: green;
}

.container{
    margin: auto auto;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px #555; 
    /* border-bottom-left-radius : 10px;
    border-bottom-right-radius : 10px; */
    background-color: rgb(202, 186, 39);
    border: 3px solid black;
}

.main-container{
    width: 1000px;
    margin: auto auto;
    background-color: #FFF;
    border-bottom: 5px solid black;
    overflow-x: scroll;
}

.options{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto auto;
    padding: 15px;
    margin-bottom: 0;    
}

.etiqueta:hover{
    background-color: ;
}


.radios{
    align-items: center;
}

button{
    background-color: rgb(71, 129, 223);
    box-shadow: 0 5px 15px #555;     
    width: 95px;
    height: 35px;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}

button:hover{
    background-color: rgb(51, 116, 221);
}

input{
    width: 30px;
    height: 20px;
    align-items: center;
}

.etiqueta{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(202, 186, 39);
    box-shadow: 0 5px 15px #555;    
    color: white;
    border-radius: 5px;
    margin: 8px;
    width: 150px;
    height: 30px;
}

.etiqueta:hover{
    background-color: rgb(189, 173, 35);
}

footer {
    background-color: black;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    bottom: 0;
    width: 100%;
    height: 30px;
    color: white;
}

footer p{
    font-weight: bold;
}


*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.token-on {
    display: block;
}

.token-off {
    display: none;
}


/*Column*/
#content-x{
    margin-left: 0;
}

.column{
    padding-top: 135px;
    text-align: center;
}

.column-box{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 200px;
    margin-left: 0;
}

.column label{
    display: none;
}

.column input{
    width: 60px;
    padding-right: 5%;
}

#cant-productos{
    display: block;
    width: 100%;
}

/* Message para máquina de conservas */

.hiddenMessage { 
    display: none;
}